[2011-10-19 11:18] bpierre opened #43 "Plain text format"
It would be nice to have a plain text version.

The URL could be something like that:

[code]

[2011-10-19 13:19] #43 closed, assigned to nobody

[2011-10-19 21:35] remy opened #61 "Are folks okay with the "fork ribbon"?"
It's clearer that way that this is something a new user can own themselves.

On the other hand it's a little ugly.

That said, I could go the tumblr route, and allow people to opt-out in their json files.

Thoughts?

[2011-10-19 23:00] #61 closed, assigned to nobody

[2011-10-20 10:00] raphaelbastide opened #72 "Special characters for names on LICENSE.html"
As you <a href="http://raphael.mit-license.org/">can see</a> my accent "ë" is not well interpreted.

[2011-10-20 10:16] #72 closed, assigned to nobody

[2011-10-20 14:44] batuhan opened #73 "HTTP status codes in the API"
In the API we create user files, I think API should also return HTTP codes like 200 OK, 403 forbidden etc.

I was gonna add this and send a PR but I'm not sure which HTTP status codes to return.

Any ideas?

[2011-10-20 16:58] pmuellr opened #76 "support for years in copyright statement"
Seems like it might be nice to support a way to inject a "year string" in the generated copyright file.  The standards here are pretty ... non-standard, but I've certainly seen things like the following:

[code]

ad nausem

I've always thought either a single year or a single range would be enough - the comma'd versions don't make too much logical sense to me.

Some examples of how you might use t

[2011-10-20 17:28] #76 closed, assigned to nobody

[2011-12-30 17:45] barberboy opened #119 "Is uppercase LICENSE.txt officially supported?"
Hey Remy!

I noticed that making a request to http://remy.mit-license.org/LICENSE.txt works great, but it isn't mentioned in the README that you can make a request to the upper-case LICENSE.txt file.

I'm just wondering if I can rely on that working, or if it's just an accident and not officially supported.

Thanks!

[2011-12-30 17:48] #119 closed, assigned to nobody

[2012-08-23 09:12] henrikbjorn opened #184 "Non english characters are not encoded correctly"
See henrikbjorn.mit-license.org

[2013-01-06 02:22] brianmhunt opened #228 "Host on google appengine"
Have you given any thought to hosting on [Google App Engine](https://developers.google.com/appengine/)? It has [fairly generous quotas](https://developers.google.com/appengine/docs/quotas?hl=en), especially for static content.

Just a thought!

[2013-01-06 13:16] #228 closed, assigned to nobody

[2013-03-07 11:55] #184 closed, assigned to nobody

[2013-04-17 09:59] kolobus opened #279 "https anyone?"
Is there any point to add https (SSL) support to mit-license.org (and *.mit-license.org) for allowing https://username.mit-license.org? I probably can try to donate a certificate.

What's more important - does current hosting support SSL at all?

[2013-05-22 06:16] treyhunner opened #293 "Send txt license with trailing newline"
This results in a file that has no trailing newline:

[code]

Editing the file in vim (or many other *nix-y editors) will then add a trailing newline.

I think a newline should be sent at the end of the response body.

[2013-06-06 16:55] olalonde opened #304 "Return markdown version (license.md)"
It would be nice if it would be possible to return /license.md. That way, I could simply curl the url and save license.md in all my projects easily.

[2013-06-06 20:02] #304 closed, assigned to nobody

[2013-06-23 17:31] RamananSharma opened #315 "New user added. But licence doesn't include user's name and url"
My user with CNAME ramanan was added and licence page is now retrieving properly. However there is a small problem - Licence header doesn't include my name and url.

Is there something I'm missing or is it pending some configuration at your end?

Thanks!

[2013-06-24 15:50] #315 closed, assigned to nobody

[2013-10-11 07:27] ghost opened #373 "Missing theme listing on the readme"
If I am not mistaken, not all themes are listed in the readme.

[2013-11-04 02:42] msmosso opened #384 "Wrong JSON file?"
Why http://msmosso.mit-license.org does not return my name/website/mail just like others do?

[2013-12-25 07:36] cbess opened #417 "Free hosting from Nodejitsu"
http://opensource.nodejitsu.com/

Not Joynet, but close (IMHO). I have years of PHP and nodejs experience, I will help convert it to nodejs, if needed.

[2014-01-02 01:01] #384 closed, assigned to nobody

[2014-04-30 21:06] iamgabeortiz opened #491 "Create via Windows Powershell"
Does anyone know how to do this:
`curl -d'{ "copyright": "Remy Sharp" }' http://rem.mit-license.org`
from a Windows Powershell?

[2014-05-07 13:44] #491 closed, assigned to nobody

[2014-06-10 06:07] #293 closed, assigned to nobody

[2014-07-14 18:13] ghousseyn opened #532 "Curl add user failing with 'JSON requires "copyright" property and value'"
curl -d '{"copyright":"myname"}' http://name.mit-license.org
This seems to be a permanent failure on my machine (see version bellow)

I'm guessing this is the problem
property_exists($data, 'copyright')

I'm wondering why you're checking the object rather than the array with isset() ?
Something like this:

$data = json_decode(file_get_contents('php://input'),true);
    if (!isset($data['copyright'

[2014-10-16 03:44] lnmunhoz opened #575 "Nothing on my domain except the default theme with no custom data"
I already has sended a pull request to add my domain, wich is [lnmunhoz.mit-license.org](http://lnmunhoz.mit-license.org) and seems like there's nothing there except the theme with no informations.
Can just check it out to see what is happening please? #564.
Thank you!

[2014-10-17 02:29] #575 closed, assigned to nobody

[2014-12-19 12:39] HADB opened #611 "Hi, can someone merge my opening pull request?"
https://github.com/remy/mit-license/pull/606
I have removed gravatar from my json file because the theme doesn't support.

[2014-12-20 00:12] #611 closed, assigned to nobody

[2015-01-17 18:07] joelmeyerhamme commented on #279
+1 and I'll donate, should you decide to implement https. Optional https would be fine with me.

[2015-01-30 04:49] teppeis opened #632 "Recent commits are not deployed"
I have confirmed that https://github.com/remy/mit-license/commit/ddbd03bd8f8476d21bc8e8f7efd563cd30e92914 (28 Dec 2014) is deployed to http://karami.mit-license.org/, but later commits don't seem to be deployed.

[2015-04-02 16:19] iamale commented on #632
+1.

[2015-04-06 15:26] teppeis commented on #632
@remy Any merged pull-reqs were not deployed.
For example, followings are recent 10 pull-reqs.

* #648 none http://dartokloning.mit-license.org/
* #647 not updated http://eduardorabelo.mit-license.org/
* #646 not updated http://xight.mit-license.org/
* #645 none http://s-a.mit-license.org/
* #644 none http://minidfx.mit-license.org/
* #643 not updated (invalid filename) http://jenish.mit-license.o

[2015-04-09 16:54] hashken opened #657 "Updating user details"
After setting up a user, is it possible to update the details without issuing a pull request? Say, for example through a curl request. Of course, this would request some kind of authentication. Love to hear if this is possible or such a thing is planned.

[2015-04-15 00:59] Efreak opened #659 "Multiple license-holders?"
I've got a forked project. Tehcnically I can't say that the sole licensor of the project is the original creator, as several people have made large contributions. Any chance of allowing an array to be passed, instead of just a single licensor?

[2015-04-15 06:47] remy commented on #659
Sure, it's worth seeing a PR off your fork to see how it would work.

[2015-04-23 15:57] hubdotcom opened #668 "Upgrade tracking to GA Universal?"
I noticed the core LICENSE.html uses the old ga.js - this will eventually be deprecated and should be upgraded to Universal Analytics - see here for instructions https://developers.google.com/analytics/devguides/collection/upgrade/reference/gajs-analyticsjs

Also, since this loads asynchronously, it's recommended by Google to put it just before the closing </head> to ensure a higher percentage of

[2015-05-25 08:29] s-a commented on #632
You can ignore my pull request. It simply takes too much time to merge and deploy here. Seems the repo is not supported any more. I created my own repo at https://github.com/s-a/license. Feel free to contribute there. Greetings!

[2015-06-10 20:26] AllThingsSmitty opened #686 "My mit-license.org site doesn't have my info"
PR [#681](https://github.com/remy/mit-license/pull/681) with my user information was merged but http://allthingssmitty.mit-license.org/ doesn't have my information. Is there anything else I need to do?

[2015-06-13 21:58] zzzzBov commented on #686
I'm having the same issue with http://zzzzbov.mit-license.org.

[2015-06-26 23:36] AllThingsSmitty commented on #686
@remy any thoughts about this? +@zzzzBov

[2015-07-26 17:27] GGG-KILLER commented on #279
Cloudflare provides free https without having to do any configuration on the server on the free plan, I'm not sure if this could help...

[2015-07-26 17:28] ariporad commented on #279
also, in the fall we can do let's Encrypt.

Thanks!Ari

On Sun, Jul 26, 2015 at 10:27 AM, GGG KILLER <notifications@github.com>
wrote:

[2015-07-26 17:37] GGG-KILLER commented on #686
I have the same problem, the pull request got merged but the page is still with the old information

[2015-07-26 18:18] remy commented on #279
But neither do wildcard SSL which this project would need.

On Sun, 26 Jul 2015 18:28 Ari Porad <notifications@github.com> wrote:

[2015-07-26 18:33] GGG-KILLER commented on #279
Cloudflare has an API for adding cname entries on DNS, which all have ssl enabled

[2015-07-26 18:34] ariporad commented on #279
I think cloudflare does wildcard, but we could do have the server get a let's Encrypt as part of the process.

Thanks!Ari

On Sun, Jul 26, 2015 at 11:18 AM, Remy Sharp <notifications@github.com>
wrote:

[2015-07-26 18:36] GGG-KILLER commented on #279
Let's Encrypt will only be available on September as far as I remember

[2015-07-26 18:59] ariporad commented on #279
Yep, but it's been without https for a while, another two months won't hurt.

Thanks!Ari

On Sun, Jul 26, 2015 at 11:36 AM, GGG KILLER <notifications@github.com>
wrote:

[2015-07-26 19:03] GGG-KILLER commented on #279
But they still said that they dont plan to support wildcards, so a new SSL certificate would have to be generated on each new account and for each existing account

[2015-07-27 18:16] Krinkle commented on #279
@remy Me and others have already indicated willingness to sponsor the costs of the certificate. Similar to how there have been many supports for the domain costs. Neither CloudFare nor Let's Encrypt seem to support free wildcard certs anytime soon. So I'd recommend we go ahead without that.

[2015-07-27 20:55] remy commented on #279
Okay, so namecheap is my dns and ssl provider, so the cheapest SSL wildcard (and max term) is £57.36 / year. I'd want to fill the runway as far as possible - i.e. 3 years. If people are happy to donate to enable that, I'll do the work to enable this across the board by default for all pages.

I can't remember where I'm hosting the mit-license at the moment, I think it's on a linode machine but (as

[2015-07-28 22:06] GGG-KILLER commented on #279
Maybe we could set up a donation page and use IPN to get the amount donated and add to the total?
(and if you want add a list of people who donated maybe)

[2015-08-03 06:22] remy commented on #686
Fixed. Somehow the git hook got out of whack.

[2015-08-03 06:22] #686 closed

[2015-08-03 06:23] remy commented on #657
I'm not really planning any dev on mit-license. I can't see how it would be done though, since all the code and file contents in this git repo, it couldn't contain and private keys (which is the way I'd probably do it).

[2015-08-03 06:23] #657 closed

[2015-08-03 06:24] remy commented on #632
All fixed. Sorry, the git pull got out of whack.

[2015-08-03 06:24] #632 closed

[2015-08-03 06:26] remy commented on #417
Closing because it's pretty old. Hosting isn't too much of a problem whilst it's piggy-backing my own servers. I do want to port to node one day, but there's no real impetus to get it done.

[2015-08-03 06:26] #417 closed

[2015-08-03 06:27] remy commented on #373
PR! <3

[2015-08-03 06:27] #373 closed

[2015-08-03 06:29] teppeis commented on #632
@remy thanks!

[2015-08-03 06:53] iamale commented on #632
@remy :+1::+1::+1::+1:, thank you!

[2015-08-03 07:11] iamale commented on #279
CloudFlare **does** support wildcards. In fact, this is the only type of free SSL they provide. (They also pack multiple domains per certificate (to reduce costs, I guess).) You could look at [my website](https://ale.rocks) for example:

![1674_certificate viewer sni30782 cloudflaressl com](https://cloud.githubusercontent.com/assets/1298948/9032411/02534b18-39c7-11e5-95a4-6b8211415d05.png)

That b

[2015-08-03 09:03] remy commented on #279
I'll look at cloudflare but I don't remember seeing wild card support for
free.

And again, let's encrypt **will not** support wildcard SSL. They've
confirmed this already.

On Mon, 3 Aug 2015 08:16 Ale <notifications@github.com> wrote:

[2015-08-03 12:52] AllThingsSmitty commented on #686
Thanks, @remy! 👍🏼

[2015-08-23 21:38] grekko opened #719 "I just wanted to say THANK YOU for your great work!"
:heart:

[2015-09-29 07:28] yimengtianya opened #730 "update mit-license page"
Hi , http://wilddog.mit-license.org/ seems to not contain email and url .
can you update it ?

Thanks for you work~

[2015-10-21 22:06] Efreak commented on #279
You could also get around the wildcard issue by providing *mit-license.org/username* as well as *username.mit-license.org*; this way only a single ssl cert would e required for the primary domain.

[2015-11-11 04:49] shagunsodhani opened #751 "Added user via curl but no .json file created"
I added myself using the curl command : `curl -d'{ "copyright": "Shagun Sodhani", "url": "https://shagunsodhani.in", "email": "sshagunsodhani@gmail.com", "format": "txt" }' http://shagun.mit-license.org`

The site is live [here](http://shagun.mit-license.org/) but no .json file was created in the [user directory](https://github.com/remy/mit-license/blob/master/users/shagun.json). I wanted to updat

[2015-11-23 06:23] mlxy opened #752 "license page not updated"
http://mlxy.mit-license.org/

[2015-11-29 11:29] cheppsn commented on #751
Same question here. I observed the same behavior.

[2015-12-10 18:06] #719 closed

[2015-12-17 12:31] ternaryalchemy commented on #751
Same here. I added myself using the curl command: `url -d'{ "copyright": "Rick Culpepper", "url": "http://ternaryalchemy.com", "email": "rick@ternaryalchemy.com", "format": "html" }' http://rcta.mit-license.org`
My site is live at http://rcta.mit-license.org/, but like @shagunsodhani, I do not find the corresponding .json file at https://github.com/remy/mit-license/blob/master/users/rcta.json.

[2015-12-17 14:54] remy commented on #751
These are all fixed now.

[2015-12-17 14:54] #751 closed

[2015-12-21 17:35] benniemosher opened #758 "Can you remove my MIT license so I can issue a new properly filled out CURL command?"
I accidentally issued a CURL command before I was able to fully read all of the commands in the README and I would like to update the command that I actually issued. Is there anyway that you can actually remove http://benniemosher.mit-license.org for me please so that I can recreate it properly?

[2015-12-21 17:43] benniemosher commented on #758
I figured out how to update my `user/*.json` file so I am closing this issue and instead opening up a PR to update my MIT license.

[2015-12-21 17:43] #758 closed

[2015-12-21 18:03] benniemosher commented on #752
@mlxy Can you please provide some more context on what is not updated on your license page so that we can properly debug and figure out what is going on?

[2015-12-21 18:08] benniemosher commented on #730
@yimengtianya Can you please open a PR and follow these instructions to update your `users/wilddog.json` file. I am uncertain, but it appears to me that the reason that this may not be updating is that your JSON file is not broken down on to separate lines. If you copy the JSON out of your file and paste it into this website, it should allow you to work your JSON until it is valid. http://jsonlint

[2015-12-21 18:09] benniemosher commented on #668
@hubdotcom Would you be interested in submitting a PR to update this code?

[2015-12-21 18:10] benniemosher commented on #659
@Efreak I do not see your PR yet. Is there anyway that you can create that so that we can see what it would look like?

[2015-12-21 18:12] benniemosher commented on #532
@remy It looks like you committed a patch for this. Should we go ahead and close out this issue then? @ghousseyn Does your issue appear to be solved with the patch that @remy submitted?

[2015-12-21 18:19] benniemosher commented on #279
@remy Where do we stand on the SSL certificate issue? Have we raised any funds for this? Do we need to set up a crowdfunding source somewhere and get this set up? If cloudflare is an option, then we should get that setup since it is free. If not then let's get some funds raised and get this knocked out. If you need help getting things moved over to DO (Digital Ocean) let me know. I just did that t

[2015-12-21 18:21] kamijoutouma commented on #279
How about you look into LetsEncrypt ...
On Dec 21, 2015 1:19 PM, "Bennie Mosher" <notifications@github.com> wrote:

[2015-12-21 18:22] benniemosher commented on #73
@remy @batuhan Where does this Issue stand? Did we ever get this resolved? If not can we get an update so that we can continue working on it? If it has been addressed, resolved, or is no longer an issue then let's go ahead and close out this issue.

[2015-12-21 18:23] kamijoutouma commented on #279
https://letsencrypt.org/
On Dec 21, 2015 1:21 PM, "Kamijou Touma" <michaelfox648@gmail.com> wrote:

[2015-12-21 19:16] ariporad commented on #279
@remy: Are you still up for maintaining this project? Would you rather have someone take it over. (This isn't meant to be cynical in any way, I've just noticed there's been some activity recently, and I figure you're busy).

[2015-12-21 19:38] benniemosher commented on #279
@kamijoutouma If you read previous posts LetsEncrypt is not a valid option. LetsEncrypt does not allow for wildcard domain certificates and we would need that feature.

[2015-12-21 19:39] iamale commented on #279
@benniemosher ...or we could just generate a certificate per subdomain. Not really practical, though..?

[2015-12-21 20:25] Efreak commented on #659
@benniemosher the fork in question wasn't this project, it's a fork of another project. I don't actually have any changes in my fork of this project--I had intended to take a look at it, but haven't actually done anything yet.

[2015-12-21 21:22] benniemosher commented on #659
I think if you want to be able to pass in an array the code might have to look something like this below:

[code]

That would allow you to keep each name and address separate from each other and on the backend be able to differ them from each other.

[2015-12-21 21:22] benniemosher commented on #279
I think that would be a tad bit of work. Especially if we can get a free wildcard certificate from Cloudflare.

[2015-12-21 21:34] kolobus commented on #279
Both CloudFlare and LetsEncrypt ideas will not work. I like both, but they won't help for wildcard SSL.

CloudFlare will not allow proxying wildcard, only DNS record: https://support.cloudflare.com/hc/en-us/articles/200168826

LetsEncrypt has no option for wildcard and you can't issue cert for each sub-domain - SSL cert with more than 100 names is not supported by major browsers.

I'm still up for

[2015-12-21 22:43] iamale commented on #279
@kolobus But Cloudflare **does** indeed issue the wildcard certificate:

![Look, it's an asterisk!](https://cloud.githubusercontent.com/assets/1298948/11943074/21446e0a-a84c-11e5-932a-69273673192b.png)

So it's only a problem of adding the subdomains to the DNS (as CF doesn't proxy wildcards). Luckily, it's a matter of one HTTP query: https://api.cloudflare.com/#dns-records-for-a-zone-create-dns-r

[2015-12-22 00:38] kamijoutouma commented on #279
Um let's encrypt does have wildcard certificated they do not have multi
domain wildcard hybrid certificates. So wtf are you talking about?
On Dec 21, 2015 5:43 PM, "Ale" <notifications@github.com> wrote:

[2015-12-22 00:42] kamijoutouma commented on #279
If you actually read up "Wildcard certs aren't yet supported by the ACME protocol." Which is a separate entity from let's encrypt. They technically do support it but it is not publicly available due to domain validation issues.

[2015-12-22 00:51] kolobus commented on #279
@kamijoutouma

No they dont. That's not a problem since you can put as many subdomains as you need in one issue (each of them will be ACME-validated separtly.) and reissue is very easy.
But it's not good for mit-license case - certs with many domains are not doing really well. And SSL certs itself are limited to ~100 names in one.

https://community.letsencrypt.org/t/frequently-asked-questions-faq

[2015-12-22 01:09] kolobus commented on #668
Did it :)

[2015-12-22 01:52] mlxy commented on #752
Somehow it's normal now

[2015-12-22 01:52] #752 closed

[2015-12-22 02:25] Efreak commented on #659
That's the approach I've taken. I've allowed for setting the gravatar address directly in the gravatar property itself, since there's no longer any need for a root-level email address (this also allows setting up a gravatar at a single-use email address for a project-level gravatar).

The old format should continue to work just fine, however the new format is as follows below.
[code]

Some future

[2015-12-22 09:34] GGG-KILLER commented on #279
I think the most instant and practical solution is to use CloudFlare, since it supports wildcard certificates and has the DNS API which can be used to add CNAME entries for the users.

[2015-12-25 18:08] ariporad opened #765 "ISC anyone?"
Hi All,

Since it appears that the ISC license is starting to get pushed as a replacement for the MIT, would you ever consider adding the ISC to this project, or allowing a fork of it?

I'm not sure that it would be called, but thelicense.org, and thelicen.se are both available.

Thoughts?

[2015-12-25 18:09] ariporad commented on #765
Also, @remy, you can say this is out of scope for this project, I'd understand.

[2015-12-31 11:32] yimengtianya commented on #730
Ok,I will try it,thank you~

[2016-01-09 23:42] Download opened #771 "Is this legal / morally ok?"
First of all, cool project this! So please don't see this is as negative criticism...

In your readme you state that

This is actually pretty common practice but I've always frowned upon it.
Copyright is not unlimited. It _expires_. This is why copyright notices contain a year. It allows us to know when the copyright has expired (and resolve matters of prior art etc). By always setting it to the c

[2016-01-10 01:45] kamijoutouma commented on #771
http://programmers.stackexchange.com/questions/210472/is-renewal-of-mit-license-needed-on-github-at-the-beginning-of-each-year

He has a point.

[2016-02-21 17:13] andreasonny83 opened #787 "License array is now Not valid metadata"
According to [NPM](https://docs.npmjs.com/files/package.json#license), the following expressions are no longer supported in the `package.json`:

[code]

Any idea how to point the license filed to a valid URL recognised by NPM?

They suggest to use this syntax instead:

If you are using a license that hasn't been assigned an SPDX identifier, or if you are using a custom license, use a string value

[2016-04-19 17:45] danilovaz opened #812 "ERR_CONNECTION_TIMED_OUT"
Any problem with the website?

I'm receiving "ERR_CONNECTION_TIMED_OUT" when try to access

[2016-04-19 18:39] remy commented on #812
Damn, the hosting has crapped out. On it.

[2016-04-19 21:09] remy commented on #812
Should be back now! ❤️ though there's still some work to be done again.

[2016-04-19 21:09] #812 closed

[2016-04-20 10:12] remy commented on #730
Looks to be working again.

[2016-04-20 10:12] #730 closed

[2016-04-20 10:12] remy commented on #730
Wow, also, sorry, several months later!

[2016-04-20 10:17] remy commented on #279
With thanks to CloudFlare - ALL domains are now https.

![drop](https://cloud.githubusercontent.com/assets/13700/14671394/7cdbaffc-06e9-11e6-8a6c-c7402916f24f.gif)

[2016-04-20 10:17] #279 closed

[2016-04-20 11:22] remy commented on #771
A bit late, but I've been re-reading this (after there was an outage on the hosting and I had to update a few bits).

I've added the ability to pin to a specific year as you suggested: https://rem.mit-license.org/@2010

I guess the real source of the problem is that this is a service tied to a single user, whereas licenses are typically inserted into project code, so they're *per project*, which a

[2016-04-20 14:18] Download commented on #771
@remy Very cool, thank you!

[2016-04-30 12:00] belldandu commented on #771
@remy i like this feature however it would be nice if we could also do https://rem.mit-license.org/@2010-2016 and or specify the starting and ending years within the json.

[2016-04-30 12:46] remy commented on #771
@belldandu given the context of this open issue, I'm not sure putting in the json file would actually make sense. It would then affect everywhere that you linked from... it's possible it's actually in the code already (I've not checked), and if there demand, I'd be happy to accept a PR for it.

[2016-05-05 14:28] ghost opened #833 "Question: MIT License conditions"
Hi, if I forked a repository(under MIT License), and close the source code, I need to provide the link/source of original repository MIT License owner right?

However, if I also modify the source code, should I put my copyright & mit license notice in my forked repository?

Example:

Original repository owner license

[code]

and I modified the code in my forked/cloned repository, for my own use/p

[2016-06-30 01:41] Krinkle commented on #771
@belldandu On a per-project basis you can link to the relevant range for that project. E.g. https://rem.mit-license.org/2014-2016 or https://rem.mit-license.org/@2012.

[2016-06-30 01:50] Krinkle opened #868 "double-windsor: Blocked request to fonts.googleapis.com"
See also other matches for http in CSS: https://github.com/remy/mit-license/search?l=css&q=http

[2016-07-05 11:04] bfred-it opened #880 "GitHub pages as hosting"
It might be late to change things now but it'd be great to have it hosted on GitHub. For free. With an automated generation.

Here's how it could work:

* URLs would be https://mit-license.org/username
* Usernames can only be added via PR
* PR would be a single file, Jekyll would take care of template generation
* A bot on Travis would verify the PR and automatically pull it or reject it

Advantag

[2016-07-28 04:05] ddd opened #896 "Incorrect display when eula-modern theme is applied to final license"
Hey hey!

Thanks for doing this! I am ['ddd'](https://ddd.mit-license.org). I've an display problem I don't understand, so I'm opening an issue. I'm adding a marked up image of what I'm seeing.

As the in-pic note says, this happens regardless of browser employed, and _only_ after my [users/ddd.json](https://github.com/remy/mit-license/blob/master/users/ddd.json) is applied. The preview of the [el

[2016-07-28 09:51] remy commented on #880
This would actually break all the existing URLs that point to the project though (since the username has moved in a non-backward compatible way).

Decent idea, but there's no support for the existing CNAME based urls (sorry, having to close because of that).

[2016-07-28 09:51] #880 closed

[2016-07-28 09:53] remy commented on #668
Oh, this was done a while ago.

[2016-07-28 09:53] #668 closed

[2016-07-28 10:06] #868 closed

[2016-07-28 10:06] #896 closed

[2016-07-28 13:01] bfred-it commented on #880
It's in the notes. All it takes is a good domain registrar or a catch-all CNAME that points to a nano server with the redirect rules. It not effortless but it can be done

[2017-04-07 06:12] SaschaMzH opened #1034 "Username only lowercase?"
Hi All,

first of all. Thanks for your work.
My user file (SaschaMzH) was merged but the mit license page has still the 'copyright holder' inserted.
Wenever I open the page http://SaschaMzH.mit-license.org/ but i will redirect to https://saschamzh.mit-license.org/ - could this be a problem?
I did not found any limitations about case sensitive user files.

Thanks
Sascha

[2017-04-07 09:26] remy commented on #1034
I've got a feeling you're right. Domains aren't case sensitive (in fact, i think they drop to lowercase), but filenames are, so I think we need to do some kind of check to ensure the PRs include filenames in lowercase.

[2017-04-07 14:22] SaschaMzH commented on #1034
Ok, thanks.
I created a new pull request to get it work and extended the documentation a little bit to let other people know that the username file must be written lowercase.

[2017-04-18 11:12] nikulifuturz commented on #532
@remy how to create own MIT License URL can you please guide me on same.

Eg : http://rem.mit-license.org

[2017-05-16 13:45] dejaneves opened #1052 "Change username ?"
Hi,

first of all. Thanks for the merge, but my user file it is like jaime.json, I want change to jaimeneves.json,
it is possible ?

https://jaime.mit-license.org -> https://jaimeneves.mit-license.org

[2017-05-16 20:49] remy commented on #1052
Just send a PR with the change if the name is available.

On Tue, 16 May 2017, 15:45 Jaime Neves, <notifications@github.com> wrote:

[2017-05-17 13:20] dejaneves commented on #1052
ok, I'II go send, thanks!

[2017-06-15 08:16] youchenlee opened #1071 "Domain not update after user merged."
Hi,
would you please take a look on https://unisharp.mit-license.org/ ,
It has not updated yet.

Thanks for the great service.

[2017-06-15 08:31] remy commented on #1071
Fixed. Thanks for the heads up.

[2017-06-15 08:31] #1071 closed

[2017-10-29 18:02] wcamarao opened #1133 "Update my license please"
Current: functioncallback: https://functioncallback.mit-license.org/
New: wcamarao: https://wcamarao.mit-license.org/

New email: wagner@camarao.io
New URL: https://camarao.io
Theme: default

You can confirm email change by sending hi to functioncallback@gmail.com, then wait for autoreply.

Thanks

[2018-01-15 19:14] remy commented on #1133
Super late reply, but you'll need to do a pull request to change it.

[2018-01-15 19:14] #1133 closed

[2018-01-15 19:14] #1052 closed

[2018-01-15 19:14] #1034 closed

[2018-01-15 19:14] #833 closed

[2018-01-17 08:23] AnkurRyder opened #1167 "Pull request closed but web page isn't live."
Ankur.json was my file name but and it was closed but no html page is live.

[2018-01-18 00:27] squanto commented on #1167
Do you mean https://ankur.mit-license.org/ ?

[2018-01-18 07:22] AnkurJaiswal001 commented on #1167
Yes ,I don't know why?
And thanks in Advance.

[2018-03-28 14:26] MR-Mostafa opened #1187 "subdomain not created"
Hello,
My address has not been created But my commit is confirmed & merged.
https://mr-mostafa.mit-license.org/

[2018-04-10 21:14] squanto commented on #1187
<img width="1308" alt="screen shot 2018-04-10 at 5 13 38 pm" src="https://user-images.githubusercontent.com/973173/38583902-8c315e6c-3ce2-11e8-8919-caa745e26a12.png">

yea it was 😃

[2018-04-10 21:14] #1187 closed

[2018-04-25 06:56] remy commented on #1167
Looks all good now.

[2018-04-25 06:56] #1167 closed

[2018-05-22 03:40] angrychimp opened #1225 "Interest in migrating to AWS Lambda?"
This project is a great concept. I'm curious if you can cut costs significantly by porting the project to Python or NodeJS and hosting it on AWS using API Gateway and Lambda. It would largely depend on request rates.

If there's interest I can certainly lay some groundwork and see if I can build a proof of concept.

[2018-06-29 15:55] Mayankjh opened #1246 "License not live!!"
I made the the json file called "mayankjha.json" and also created a pull request that was merged but the license dosen't to be live yet why?
am I missing something?
![image](https://user-images.githubusercontent.com/29487575/42102191-d7215280-7be2-11e8-8023-31636e13a499.png)

[2018-06-30 22:37] squanto commented on #1246
yes? https://mayankjha.mit-license.org/

[2018-07-01 15:48] Mayankjh commented on #1246
no i mean the credentials on the license should appear. the pic above does not has my credentials for eg.
![image](https://user-images.githubusercontent.com/29487575/42136151-fe88412a-7d73-11e8-800a-8d915fe0f846.png)
if you type any name ahead of the link  https://**.mit-license.org/ in place of ** the pic in above comment comes which should be like in this comment....
hope you are getting it...

[2018-07-02 18:19] squanto commented on #1246
oh okok. Your config wasn't getting picked up because we don't handle upper-case files 😄 . Looks like the page is updated. Does everything look good from your end @Mayankjh ?

[2018-07-02 18:21] Mayankjh commented on #1246
i checked the link everything is good thanks @squanto

[2018-07-02 18:21] #1246 closed

[2018-08-06 17:00] bitmxittz opened #1265 "user was created but not existing now."
Hi,
I sent pull request bitmxittz.json and user was created but bitmxittz.mit-license.org did not show copyright info.
I sent pull request as following
curl -d'{ "copyright": "Bitmxittz Developers", "url": "https://bitmxittz.com", "email": "contact@bitmxittz.com", "theme": "flesch", "gravatar": true }' https://bitmxittz.mit-license.org

then i commited changes to
{ "copyright": "Bitmxittz Develope

[2018-08-16 17:38] kcak11 opened #1270 "Creation of article & footer via javascript, is it needed here ?"
https://github.com/remy/mit-license/blob/7ffadd7eec60d5b636cdc81eb2e74d2976d613c5/LICENSE.html#L34

is the creation of article and footer needed via JS here. This seemed to me as unnecessary hence reported.

`<script>document.createElement('article');document.createElement('footer');</script>`

The created article and footer are nowhere used in the page because as such there is no reference to the

[2018-08-18 22:11] Krinkle commented on #1270
@kcak11 Older versions of Internet Explorer do not support the modern HTML5 element names, suchu as "article" and "footer". In addition to not recognising them by default, it also does not allow these elements to be styled with CSS.

The standard behaviour for browsers now is not (for future compatibility) allow styling of any and all element name, including ones it does not know about yet.

Lucki

[2018-08-18 22:24] Krinkle opened #1272 "Google Analytics"
Hi @Remy,

First of all, thanks for this initiative. I've been using it for many years and have adopted it in various projects and often recommend it.

It took me by surprise the other day when looking at GA's tracking net for one of my browsing sessions, to see it also included mit-license.org.

Perhaps you're an active user of the GA metrics and I suppose I have no ask in that case, but if they'

[2018-08-19 04:13] kcak11 commented on #1270
Thanks @Krinkle, guess I missed that point.

[2018-08-19 04:13] #1270 closed

[2018-09-23 13:43] Richienb commented on #1272
According to Google LighthouseeGoogle Analytics seems to be hogging 300ms of page load time due to the absence of a `preconnect` or `dns-prefetch` rel tag. Here is the full warning:
[code]

[2018-09-23 13:45] Richienb commented on #1265
Requesting a license via the http request doesn't seem to add a file to the `users` folder.

[2018-10-06 01:11] Richienb opened #1286 "Gravatar needs an alt attribute"
According to Google Lighthouse, the gravatar image needs an alt attribute which should be easily added via the `name` key in the JSON file.

[2018-12-27 01:10] Richienb opened #1299 "When will the API be re enabled"
The MIT license API has been disabled for over a year. When will the API be reenabled?

[2019-02-22 22:22] Richienb commented on #1299
@remy any update on this?

[2019-04-06 02:48] Richienb commented on #1299
@remny any update on this?

[2019-05-28 05:55] Richienb commented on #1299
@remy Are there any plans to reenable the MIT License API?

[2019-05-28 12:20] remy commented on #1286
Change wanted here: https://github.com/remy/mit-license/blob/master/index.php#L64

[2019-05-28 12:22] #1272 closed

[2019-05-28 12:23] Richienb commented on #1286
I'm going to include this fix in conjunction with all the rest. I'll publish a draft PR pretty soon.

[2019-05-28 12:29] remy commented on #1286
👍

On Tue, 28 May 2019 at 13:23, Richie Bendall <notifications@github.com>
wrote:

[2019-05-31 08:34] Richienb commented on #532
@nikulifuturz Go [here](https://github.com/remy/mit-license/new/master/users) then name the file to anything but end it with `.json` (for example: `richienb.json`) and insert your configuration.

For example, my configuration is:

[code]

[2019-06-23 13:14] Richienb commented on #1265
@bitmxittz Since everything seems to be working now, I'm going to go ahead and close this issue.

[2019-06-23 13:14] #1265 closed

[2019-06-23 13:19] Richienb commented on #787
@andreasonny83 This seems to have been fixed in https://github.com/remy/mit-license/commit/a5e4e4066d0a4f094ac30ec0a91638db160b92932.

[2019-06-23 13:19] #787 closed

[2019-07-28 14:28] Richienb commented on #532
It now seems that this issue has been fixed. If not, #1355 should further fix things.

[2019-07-28 14:28] #532 closed

[2019-07-30 12:53] #73 closed

[2019-07-30 12:53] #659 closed

[2019-07-30 12:53] #765 closed

[2019-07-30 12:53] #1286 closed

[2019-07-30 12:53] #1299 closed

[2019-07-30 13:57] Richienb commented on #771
This issue seems to have been resolved and gone stale. Closing for now.

[2019-07-30 15:38] #771 closed

[2019-10-30 16:13] virgilwashere opened #1375 "URL encoding email address in txt license"
The `license.txt` URL of any subdomain with an email address produces URL encoded angle brackets (`< >`) around the email address.

Link: https://rem.mit-license.org/license.txt

[code]

Link: https://virgilwashere.mit-license.org/2018/+ISC/license.txt

[code]

Link: https://adamroberts.mit-license.org/license.txt

[code]

[2019-11-06 06:17] Richienb commented on #1375
@virgilwashere Nice catch!

[2019-11-06 07:09] #1375 closed

[2019-11-06 07:59] anselal opened #1377 "Open Sans Theme"
Hi there,

is the theme referenced correct in my json ?

https://github.com/remy/mit-license/blob/054b6b76c72bdab2238d04c8935d7519900a7926/users/soulis.json#L7

I am not sure my [license ](https://soulis.mit-license.org/) uses the theme

[2019-11-14 04:35] marcus-suresh opened #1379 "help creating license page"
Hi, could I get some help creating the license page?

[2019-11-14 07:25] remy commented on #1379
Directions are in the resdme file. If you're having trouble or errors, you'll need to open an issue with detail of what you're experiencing - screenshots a useful here and any of the content you're submitting.

[2019-11-14 07:25] #1379 closed

[2019-11-21 21:49] mortdeus commented on #771
Updating your copyright dates make your projects appear like they are still relevant in the modern day despite the fact that you might not actually be working on the code.

Besides git provides a much better form of accounting when it comes to preserving evidence of the projects epoch for any claims that might be made against the legal validity of your copyright claims.

Patents should expire fast

[2019-11-22 03:35] #1377 closed

[2019-11-22 03:35] Richienb commented on #1377
It should be `open-sans` not `opensans`. Fixed!

[2019-11-22 06:35] anselal commented on #1377
Cool, thnx !!

[2020-01-03 17:59] sebastianst opened #1385 "Non-English Unicode characters are not displayed correctly"
Looks like #184 happened again. His page as well as the one I just created (https://perun.mit-license.org/) are not shown correctly. It should say "Universität".

[2020-01-04 03:51] Richienb commented on #1385
@sebastianst Since `mit-license` forces `UTF-8`, it doesn't support any other type of encoding, `Western (Windows 1252)` in this case.

[2020-01-04 03:53] #1385 closed

[2020-04-13 04:32] floydpink opened #1400 "Application error"
It looks like there is something wrong with the current deployment - https://mit-license.org/ (and all subdomains) is returning this:

![image](https://user-images.githubusercontent.com/171072/79092178-0daaa700-7d1e-11ea-8762-81371718c502.png)

Thank you!

[2020-04-13 07:52] remy commented on #1400
Can you try again, I'm getting it working - it might have been a temporary outage

[2020-04-13 09:20] Richienb commented on #1400
Looks like it just fixed itself. Time to close.

[2020-04-13 09:21] #1400 closed

[2020-04-13 12:48] floydpink commented on #1400
@Richienb - just curious, did this reverted commit have anything to do with the error?

https://github.com/remy/mit-license/commit/e528c75316393e4efbb80bc615a52987907e321a

[2020-04-13 13:07] Richienb commented on #1400
@floydpink Probably. I'm not a Heroku user but it looks like the package manager to be used is detected based on the lock file and having none would break it somehow.

[2020-04-18 09:50] shreyasminocha commented on #765
I made a minimal, self-hosted version that supports other licenses too — [shreyasminocha/license-server](https://github.com/shreyasminocha/license-server).

[2020-06-21 20:25] Richienb opened #1420 "Interest in moving to Vercel?"
@remy Since [Vercel](https://vercel.com) (Zeit) now supports [wildcard domains](https://vercel.com/blog/wildcard-domains), is there any interest in moving to it to reduce maintenance costs?

[2020-09-10 04:33] ErinMorelli opened #1437 "User metadata not persisting"
I registered the user "erin-morelli" a little over a week ago, here's the commit: https://github.com/remy/mit-license/commit/cd2a579987055411c80d4c219de4a7119bb60973

Initially the url https://erin-morelli.mit-license.org/ worked correctly, but when I visited it today, it appears that the site is using the default null values instead of populating with my user metadata.

Looks like the CI tests ha

[2020-09-24 23:08] Richienb commented on #1437
I removed the buggy user file, see if that helps https://github.com/remy/mit-license/commit/5279ad62fa119f7ac422fd02a797308720403298

[2020-09-28 00:28] Richienb commented on #1437
Working now.

[2020-09-28 00:28] #1437 closed

[2020-11-12 08:05] Richienb opened #1450 "Deployment failed?"
@remy I did a refactor of mit-license and now Heroku isn't deploying anymore even though all the tests are passing and the site still works. Can you check the deployment logs?

[2020-11-12 09:36] remy commented on #1450
Oh, I had wondered why it had stopped deploying…

[2020-11-12 09:38] remy commented on #1450
This is from the logs:

[code]

[2020-11-12 09:52] Richienb commented on #1450
Looks like the lockfile was out of date - should be [fixed](https://github.com/remy/mit-license/commit/de7cf2e19f99502ac7633446af2fefefff832500) in the next deployment.

Did you see #1420?

[2020-11-12 11:33] remy commented on #1420
I've considered it (long ago), but not sure it's worthwhile at this point. There's also limitations around what can be run due to the serverless arch. Maybe worth revisiting in 5 years (not kidding!)

[2020-11-12 11:33] #1420 closed

[2020-11-12 11:34] Richienb commented on #1420
What sort of limits are we talking?

[2020-11-12 11:45] remy commented on #1420
Portability (as much as I love vercel it's non portable).

Reading and minip files during serverless calls (this, I think, is
possible, but not straight forward, and I don't recall if it works when you
want to use the very pared down serverless functions).

I'm also not sure how the SSL and wild domains work in practice, I've got a
sneaky suspicion that the unlimited cnames are applied on demand,

[2020-11-13 05:19] Richienb commented on #1450
Deployment succeeded!

[2020-11-13 11:52] Richienb commented on #1450
@remy The site is now resolving with an application error on runtime. How do these errors only occur in production?

[2020-11-13 13:10] remy commented on #1450
Just checked and I'm seeing it render. What URLs are you seeing it failing on?

[2020-11-13 23:54] Richienb commented on #1450
https://mit-license.org/

[2020-11-13 23:55] Richienb commented on #1450
Wait a minute, it's now working. Before it was spitting out server errors left to right.

[2020-11-13 23:55] #1450 closed

[2020-11-14 07:10] remy commented on #1450
It might be an intermittent error, I'll have to use my desktop to tail the
logs to see if I can catch it.

Did you test the user creation against your refactor?

On Fri, 13 Nov 2020, 23:56 Richie Bendall, <notifications@github.com> wrote:

[2020-11-14 10:03] Richienb commented on #1450
A user was created 3 minutes ago on the deployed refactor so user creation must be working.

[2020-12-14 12:00] NameOfTheDragon opened #1451 "Application Error"
Oops, it looks like there's a server issue...

![image](https://user-images.githubusercontent.com/1268490/102079057-e69ffa00-3e03-11eb-96a7-7f2aa1f84318.png)

[2020-12-14 12:33] Richienb commented on #1451
@remy

[2020-12-14 16:11] remy commented on #1451
Looks like it's crashing quite often:

<img width="1224" alt="Screenshot 2020-12-14 at 16 10 11" src="https://user-images.githubusercontent.com/13700/102105110-e6fdbc80-3e26-11eb-9651-6439a0f7ac61.png">

[code]

[2020-12-14 16:12] remy commented on #1451
@Richienb didn't you do a refactor recently?

[2020-12-14 16:20] Richienb commented on #1451
@remy I did one three months ago.

[2020-12-14 16:30] Richienb commented on #1451
This issue only happens periodically - I am unable to reproduce it consistently.

[2020-12-14 16:46] Richienb commented on #1451
I (think I) found the problem: It's all to do with a Javascript quirk.

Here we assign `response.locals.user` by extending itself with the result of a promise.

https://github.com/remy/mit-license/blob/aa280a646bbc0f1ffa74aeee86557e3cfc02c224/middleware/load-user.js#L17-L20

Notice that we await it within the assignment. What do you think `response.locals.user` looks like while the promise is stil

[2020-12-14 16:46] remy commented on #1451
At a guess, the get router is getting the user object as undefined (via an
incorrect cname lookup) and has been crashing regularly. Maybe an object
test before that (or similar) lines.

On Mon, 14 Dec 2020, 16:31 Richie Bendall, <notifications@github.com> wrote:

[2020-12-14 16:50] Richienb commented on #1451
cname lookup?

[2020-12-14 16:53] remy commented on #1451
Sorry, we're crossing messages.

That await won't return the user object until the promise has settled (so the refactor here shouldn't make any difference).

The user object is definitely undefined. If it were set to a promise it would pass the test for `user.cooyright` (because we can do prop lookups on a promise - regardless of whether the promise has settled or not).

[2020-12-14 17:04] NameOfTheDragon commented on #1451
It seems to be working again now.

[2020-12-14 18:29] remy commented on #1451
Yes, but it'll crash again. There's a bug that causes it to trip and crash.

On Mon, 14 Dec 2020, 17:04 Tim Long, <notifications@github.com> wrote:

[2021-02-01 16:42] jevonmao opened #1458 "My mit license link is not working"
https://jingwen-mao.mit-license.org/
Sometimes this shows the right website, but only right after I re-generate with the online MIT-license website generator. Most of the times it will show the empty template page.

[2021-02-03 15:38] Busaruba2011 commented on #1451
It's happened again today. 3/2/21 at 3:38 GMT
![Screenshot (47)](https://user-images.githubusercontent.com/65495333/106770472-ebc83b00-6635-11eb-8d80-dfa1a38ece88.png)

[2021-02-23 06:47] jevonmao commented on #1458
Seems fixed, maybe the owner fixed it for me, or maybe it went away itself. Great project and website by the way!

[2021-02-23 06:47] #1458 closed

[2021-03-11 09:26] noshock opened #1466 "A tool to hack camera from termux"
AVAILABLE ON:

•TERMUX

TESTED ON :

•TERMUX

REQUIREMENTS :

•internet

•php

•storage 400 mb

•ngrok

FEATURES :

•[+] Real camera hacking

•[+] Updated maintenance

•[+] Ngrok link

•[+] Easy for Beginners

INSTALLATION [Termux] :

•apt-get update -y

•apt-get upgrade -y

• pkg install python -y

• pkg install python2 -y

• pkg install git -y

• pip install lolcat

• git clone      https://gith

[2021-03-11 09:27] #1466 closed

[2021-03-11 10:07] remy commented on #1466
lolwat.

[2021-03-21 15:24] okyanusoz commented on #1451
It's OK now I think.

[2021-05-27 04:19] Richienb commented on #1451
The last recorded downtime is on February 11, 2021. I believe this means the issue is now resolved.

[2021-07-16 11:45] mrnightdev opened #1488 "Some links are not working"
Hi, I created my page (7b39ab2b0fd89a31dde3786e377d040a1e31845b) around 2 days ago using the [generator](https://www.richie-bendall.ml/mit-license-generator/), but it doesn't seem to working.
When I visit the [page](https://mrnight.mit-license.org), all I get is this error:

![website error](https://user-images.githubusercontent.com/64628456/125940873-0549593e-294c-4d0c-a5d1-d161ba07948f.png)

For

[2021-07-16 11:56] remy commented on #1488
@Richienb it looks like there's an exception being thrown and heroku is then not getting anything on the `response` stream so it hangs/timesout:

[code]

I suspect it'll be easy to replicate with @mrnightdev's mit user.json file to find and deploy the fix  - I'll take a look when I have moment after work too if you don't have time.

[2021-07-16 11:58] remy commented on #1488
Quickly looking, I bet this is returning undefined https://github.com/remy/mit-license/blob/master/routes/get.js#L73

[2021-07-16 12:39] Richienb commented on #1488
The error occurs because the site has not yet recognised the new user. When this happens, the function that reads user files throws an `ENOENT` which passes through the error handler as intended and returns `undefined`:

https://github.com/remy/mit-license/blob/94fa91d553b9eb46816d2a0a80f7fe0d7e1d11ce/lib/load-user.js#L19-L23

The problem happens when the code tries to load the fallback. In JavaSc

[2021-07-16 12:41] #1488 closed

[2021-07-16 12:48] remy commented on #1488
Thanks @Richienb 👍

I did check the file was in the users directory already - is there some timing that means it doesn't go across to the heroku instance?

[2021-07-16 14:22] mrnightdev commented on #1488
Thank you @remy @Richienb for your timely help 😃

[2021-08-18 19:26] DhrumilShah98 opened #1498 "Link not Working - Application Error"
I created my page using the [generator](https://www.richie-bendall.ml/mit-license-generator/) tool but it is not working. I get the **Application error** when I visit the [page](https://dhrumil-amish-shah.mit-license.org/).

Link to my JSON file - [dhrumil-amish-shah.json](https://github.com/remy/mit-license/blob/master/users/dhrumil-amish-shah.json)

Can I know the fix?

[2021-09-01 19:34] ajdepaul commented on #1498
I'm in the same boat. I'd appreciate it if you got around to fixing this.

My JSON file: [ajdepaul.json](https://github.com/remy/mit-license/blob/master/users/ajdepaul.json)

[2021-09-02 00:23] Richienb commented on #1498
@remy What do the logs say?

[2021-09-02 00:24] Richienb commented on #1498
It seems like the user files had never been redeployed and the site failed the load the fallback.

[2021-09-02 09:52] remy commented on #1498
@Richienb it looks like the error we've had before:

2021-09-02T09:51:37.640100+00:00 app[web.1]: at getRoute (file:///app/routes/get.js:77:44)
2021-09-02T09:51:37.640163+00:00 app[web.1]: (node:33) UnhandledPromiseRejectionWarning: Unhandled promise rejection.
[code]

[2021-10-28 09:30] remy opened #1514 "How to test?"
@Richienb I've not looked at the code in a while and I see you've turned down the `type="module"` path… which is fine :) but I've no idea how to test the code (I'm trying to write a test that fixes this issue some users still seeing).

I'm sure there's a flag missing somewhere:

[code]

[2021-10-28 10:20] #1514 closed, assigned to nobody

[2021-12-15 23:18] filip2cz opened #1526 "Modifying the licence"
Can I modify the MIT License for my own licensing needs and then continue to use the license under a different name such as FORK?

[2021-12-16 01:15] Richienb commented on #1526
You can do whatever the license permits, which I believe includes this.

[2021-12-16 07:22] filip2cz commented on #1526
The license doesn't mention anything like that, however, assuming the license is licensed by itself, then I would have to include the original license when modifying it, which isn't great, because the moment I didn't want commercial use, for example, the two licenses would contradict each other.

[2021-12-16 07:26] Richienb commented on #1526
The code that communicates the license is MIT Licensed. I believe that MIT License allows the license that is communicated to be changed.

[2021-12-16 08:46] filip2cz commented on #1526
ok, thanks

[2021-12-16 08:46] #1526 closed

[2022-02-26 10:00] privatedev11 opened #1547 "Can you add me to the system?"
Can't make a pull request for some reason, says there's nothing to compare

{
  "copyright": "PrivateMe",
  "url": "https://privatedev11.github.io",
  "email": "busaruba2011services@zohomail.com",
  "format": "html",
  "license": "mit",
  "theme": "hacker",
  "gravatar": true
}

[2022-02-26 10:03] Richienb commented on #1547
What do you want to name the file?

[2022-02-26 11:48] privatedev11 commented on #1547
PrivateMe

privateme.bio.link
________________________________
From: Richie Bendall ***@***.***>
Sent: Saturday, February 26, 2022 10:03:40 AM
To: remy/mit-license ***@***.***>
Cc: privatedev11 ***@***.***>; Author ***@***.***>
Subject: Re: [remy/mit-license] Can you add me to the system? (Issue #1547)

What do you want to name the file?

—
Reply to this email directly, view it on GitHub<https://g

[2022-02-26 11:50] Richienb commented on #1547
https://github.com/remy/mit-license/commit/cb5d866d5a640f45c309bb13b329a89498aeb22d

[2022-02-26 11:50] #1547 closed

[2022-04-21 16:50] ParT43 opened #1568 "Run"

[2022-04-22 01:30] #1568 closed

[2022-04-22 14:40] ParT43 commented on #1568
Ty

[2022-05-16 13:13] ParT43 opened #1577 "Fork"

[2022-05-16 13:15] Richienb commented on #1577
https://docs.github.com/en/get-started/quickstart/fork-a-repo

[2022-05-16 13:15] #1577 closed

[2022-06-25 05:01] AsPulse opened #1584 "Deployment doesn't seem to be working for a while now"
(although it is possible that this may just be a slow deploy)

The last deployed commit was this one a little over two months ago:
d7a1114963d34dcf52035276af5cc70d90c86704 ( https://urosevic.mit-license.org/ )

It appears that no users have been deployed since this...

ex.)
0e91097f98b8fa93a30b1da5ba6e39a2348135e8 ( https://tamer.mit-license.org/ )
e76fbf9284aef341c428df9f5f5795ea48d4ae60 ( https:

[2022-06-25 05:04] Richienb commented on #1584
@remy The deployment status is no longer appearing for later commits. Could you check Heroku?

[2022-07-21 07:58] Richienb opened #1588 "POST API doesn't work"
An error is thrown here:

https://github.com/remy/mit-license/blob/ce12c0a796850bb57affb639a9e1676a26bbc499/routes/post.js#L100-L113

@remy Check if your personal access token still works. Otherwise, it might be an API change.

[2022-08-19 14:56] AntonyBi commented on #1584
It's not worked for me too. My license page is https://antonybi.mit-license.org/

[2022-08-20 06:48] Richienb commented on #1584
@remy Friendly ping :)

[2022-08-26 14:23] sebastianst commented on #1584
Can confirm, my [`yieldgate` PR](https://github.com/remy/mit-license/pull/1599) was recently merged, but https://yieldgate.mit-license.org/ still shows the generic license.

[2022-08-26 14:56] remy commented on #1584
I'll take a look at the heroku server logs shortly

On Fri, 26 Aug 2022, 15:24 Sebastian Stammler, ***@***.***>
wrote:

[2022-08-28 05:27] gillyspy commented on #1584
same here

[2022-09-23 22:07] arashi-dev commented on #1584
This issue still exists. https://arash-jahanbakhshan.mit-license.org/

[2022-10-04 07:20] RapidCompiler commented on #1584
Both the self-service generator website and the curl command aren't working for me. The website says "JSON requires copyright property and value". The curl command doesn't seem to be allowing addition of multiple copyright holders.

PRs don't seem to be working for anyone as well. Has there been any updates? @remy Kindly help :)

[2022-10-04 07:23] Richienb commented on #1584
@remy Would it be possible to give me access to view the Heroku logs?

[2022-10-04 11:37] remy commented on #1584
@Richienb yep, just done that - I should have done that months and months ago!

[2022-10-04 11:55] Richienb commented on #1584
@remy It seems like deployment needs to be set back up again at https://dashboard.heroku.com/apps/mit-license/deploy/github

[2022-10-12 12:04] remy commented on #1584
Sorry - read this at a stupid time and instantly forgot.

I've reconnected and deployed.

[2022-10-12 12:53] Richienb commented on #1584
Thank you!

The site is working again

[2022-10-12 12:53] #1584 closed

[2022-10-12 13:24] Richienb commented on #1588
Fixed!

[2022-10-12 13:24] #1588 closed